body {
    background-color: black;
    font-family: "Book Antiqua", serif;
    color: antiquewhite;
    text-align: center;
    font-size: 0.8em;
}

.row {
    display: flex;
}

.column {
    padding: 1%;
}

h1 {
    font-family: "Book Antiqua", serif;
    font-size: x-large;
    color: antiquewhite;
}

table {
    width: 100%;
}

button {
    background-color: antiquewhite;
    color: darkslategrey;
    font-family: "Book Antiqua", serif;
    font-size: 0.8em;
    margin: 5px;
}

.selected {
    background-color: darkseagreen;
}